<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/reglog.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>

<div class="fback" style="min-height: 100vh; height: fit-content;">
    <form action="/register" method="post" id="register" class="form" style="min-width: 70%;">
        <!-- <h1>Admin Register</h1> -->
        <div class="frm">
            <div class="form-field frm-fld">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-field frm-fld">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
        </div>
        <div class="frm">
            <div class="form-field frm-fld">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="form-field frm-fld">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" name="phone" id="phone" class="form-control">
            </div>
        </div>
        <div class="frm">
            <!-- <div class="form-field frm-fld" id="addrs">
                <label for="address" class="form-label">Address</label>
                <div class="loc">
                    <input type="text" name="address" id="address" class="form-control"> <i class="fa-solid fa-location-dot" id="loc"></i>
                </div>
            </div> -->
            <div class="form-field frm-fld">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
        </div>
        <div class="ret">
            <input type="checkbox" name="retailer" id="retailer" value="false">
            <label for="retailer">Register as retailer</label>
            <span>(* if you are a consumer then don't check this.)</span>
        </div>
        <button class="btn">Register</button>
    </form>
    <div class="user-check">
        <p>Already have an account? <a href="/login"> Click here</a> to login</p>
    </div>
</div>

<script src="/js/reglog.js"></script>