<link rel="stylesheet" href="/css/navbar.css">
<header>
    <div class="logo">Foodies</div>
    <input type="checkbox" name="check" id="check">
    <nav class="navbar">
        <label for="check" id="closeMenu"> <i class="fa fa-times"></i> </label>
        <a href="/products" class="link">Products</a>
        <% if(User) {%>
            <% if(User.retailer) {%>
                <a href="/products/new" class="link">New</a>
            <% } %>
            <strong><a href="#"><%= User.username %></a></strong>
            <a href="/logout">Logout</a>
        <% }else{ %>
            <a href="/login" class="link">Login</a>
            <a href="/register" class="link">Register</a>
            <a href="/products/user/cart"> <i class="fa fa-cart-shopping"></i> </a>
        <% } %>
        <div class="icons">
            <label id="srch" style="cursor: pointer;"><i class="fa fa-search"></i></label>
            <% if(User) {%>
                <a href="/products/user/cart"> <i class="fa fa-cart-shopping"></i> 
                    <% if(User.cart.length > 0) {%>
                        <sup> <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"><%= User.cart.length %></span> </sup> 
                    <% } %>
                </a>
            <% } %>
        </div>
    </nav>
    <form action="/products/search" method="get" class="search" id="search">
        <label id="sclose"> <i class="fa fa-times"></i> </label>
        <input type="search" name="q" id="q" required> 
        <button><i class="fa fa-search"></i></button>
    </form>
    <label for="check" id="openMenu"> <i class="fa fa-bars"></i> </label>
</header>

<script>
    const search = document.querySelector('#search')
    const sclose = document.querySelector('#sclose')
    const srch = document.querySelector('#srch')
    srch.addEventListener('click', ()=>{
        search.style.display = 'flex'
    })
    sclose.addEventListener('click', ()=>{
        search.style.display = 'none'
    })
</script>