.card{
    width: 13rem;
}
.items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content:flex-start;
}
.view{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray; 
    width: 40%;
    height: 80vh;
    overflow: auto;
}
.reviews .card{
    width: 100%;
}
.message-danger{
    width: 100%;
    text-align: center;
    padding: 1em 0;
    background-color: rgb(236, 149, 149);
    color: white;
    font-size: 1.2em;
}
.slider{
    margin: auto;
    margin-top: 2rem;
    width: 95%;
    height: 80vh;
    /* border-radius: 8px; */
}
.slider #img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-image: url('../images/Briyani1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 30px 30px white;
}
.slider #img #stext{
    color: white;
    font-family: monospace;
    font-size: 4em;
}
@media all and (width < 800px){
    .view{
        justify-content: center;
        flex-direction: column;
    }
    .reviews{
        min-width: 80%;
        height: fit-content;
        margin-top: 1rem;
    }
    .reviews .card{
        width: 100%;
    }
    .slider{
        height: 65vh;
    }
}
@media all and (width < 489px){
    .items{
        justify-content: space-around;
    }
    .items .card{
        width: 80%;
    }
    .slider{
        height: 50vh;
    }
    .slider #img{
        box-shadow: inset 0 0 10px 10px white;
    }
}